html {
  color: #222;
  font-size: 1.6em;
  line-height: 1.4;
}

.wrap {
  font-family: 'Indie Flower', cursive;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0.5em;
  width: 100%;
  max-width: 560px;
  margin-bottom: 100px;
}

mark {
  background-color: rgba(255, 255, 0, .5);
}

em {
  color: rgb(0, 217, 255);
}

a {
  color: #008299;
  transition: color .1s;
}

a:hover {
  color: rgb(0, 217, 255);
  text-decoration: none;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
  padding: .7em;
  background-color: #eee;
}

figcaption {
  margin-top: 1em;
  font-size: .7em;
}

.meme {
  width: 100%;
  vertical-align: middle;
}

textarea {
  border-radius: 3px;
  border: 3px solid rgb(0, 217, 255);
  font-size: .5em;
  width: calc(100% - 10px);
  height: 460px;
  margin: 1em 0;
  resize: vertical;
}
